
.course{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 20px;
    padding-bottom: 10px;
    text-justify: center;
}
.course-image{
    text-size-adjust: 100%;
}
.enroll-button{
    background-color: green;
    width: 150px;
    height: 40px;
    border: 1px solid rgb(29, 4, 4);
    border-radius: 5px;
    cursor: pointer;
}